* {
    padding: 0;
    margin: 0;
}

.form {
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 350px;
    padding: 16px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.form_title {
    width: 100%;
    margin: 15px 0;
    padding-left: 10px;
}

.form_input {
    width: 306px;
    margin: 2px 0;
    padding: 14px 18px;

    border: 1px solid #CFD8DC;
    border-radius: 12px;
}

.form_input:focus {
    outline: none;
    border-color: #FFE44D;
    /* background-color: aquamarine; */
    /* color: red; */
}

.form_btn {
    width: 100%;
    margin: 2px 0;
    border-radius: 45px;
    padding: 14px 24px;
    font-weight: bold;
    font-size: 15px;
}

.form_info_text {
    margin: 15px 0;
    color: gray;
    font-size: 13px;
    padding-left: 10px;
}

.submit_btn {
    background-color: #FFE44D;
    border: 1px solid transparent;
    cursor: pointer;
}

.submit_btn:active {
    background-color: #FFE44D;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.redirect_btn {
    background-color: #FFE44D;
    border: 1px solid #CFD8DC;
    cursor: pointer;
}

.redirect_btn:active {
    background-color: #FFE44D;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.form_cross {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.form_info_text_restore {
    margin: 15px 0;
    color: gray;
    font-size: 13px;
    padding-left: 235px;
}

.form_info_text_temporary_password {
    margin: 15px 0;
    color: gray;
    font-size: 13px;
    padding-left: 5px;
}

.form_info_text_expiration_date {
    margin: 15px 0;
    color: gray;
    font-size: 13px;
    padding-right: 130px;
}

label {
    display: inline-block;
}

/* .button:active {
    background-color: #FFE44D;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */